/**
 * OnBoarding Styles
 */
@import "normalize"
@import "./base/_colors.styl"
@import "./cozy-ui/icons.styl"

// Should be imported from another stylus in the future,
// 'base/_fonts' for example
// Variable used as divisor for px to em calculations.
base-font-size = 16

// Firefox is allow empty space for the svg index, and cause a top white space
body > svg
    height 0
    width  0
    // The best part now. It's the only way I found to tell Firefox to NOT
    // add a tiny space in top of the body. I tested everything else like
    // absolute position, negative margins, etc.
    float left

// LAYOUTS
[role=application]
    min-height   100vh
    font-family  Lato, sans-serif

// div inserted magically by Marionnette
main
    display        flex
    flex-direction column

main > div
    display      flex
    min-height   100vh


.main-wrapper
    flex       0 1 30em
    margin     auto
    padding    3em 1em


header
    figure
        margin      0 auto 2em
        text-align  center

        a
            display  block

        svg
            max-width       (56 / 16)em
            height          (56 / 16)em


        .svg-wrapper
            margin          auto
            max-width       (56 / 16)em
            height          (56 / 16)em
            border-radius   50%
            padding         (20 / 16)em
            box-shadow      0 1px 3px rgba(50,54,63,0.19), 0 4px 12px rgba(50,54,63,0.12)

        // Additional badges in figure
        .badge
            position absolute
            left 50%
            margin-top -2em
            margin-left 1em

            .svg-wrapper
                height     (24 / 16)em
                max-width  (24 / 16)em
                padding    (8 / 16)em

            svg
                height    (24 / 16)em
                max-width (24 / 16)em


    h1
        margin  0
    p
        color   #788195

[role=region]
    p
        margin 0
        line-height 1.5
        &:first-child
            margin 1em 0


.agreements
    figure
        margin      0 auto 2em
        text-align  center

        svg
            max-width       (50 / 16)em
            height          (50 / 16)em

        .svg-wrapper
            margin          auto
            max-width       (50 / 16)em
            height          (50 / 16)em
            border-radius   50%
            padding         1.5em
            box-shadow      0 1px 3px rgba(50,54,63,0.19), 0 4px 12px rgba(50,54,63,0.12)

#welcome-figure
    svg
        max-width       100%
        height          12.5em
        box-shadow      none

#password-figure
    .badge
        .svg-wrapper
            background #ff7f1b

#maif-figure, #fing-figure
    svg
        max-width       100%
        height          100%

#maif-figure
    .svg-wrapper
        background-color $maif

#fing-figure
    .svg-wrapper
        background-color $fing


// Icons
.svg-wrapper
    background-color $blue // default color : Cozy blue

#infos-figure .svg-wrapper
        background-color #fc4c83

#accounts-figure .svg-wrapper
        max-width: 4em
        height: 4em
        background-color  #35CE68
        svg
            margin-top .5em
            max-width: 3em
            height: 3em

#confirmation-figure .svg-wrapper
        background-color  #2ce096

// agreeemnt step elements
@media screen and (max-width: 700px)
    .agreements
        width           100%
        margin          1.5em 0em 1.5em 0
    .agreements-element
        padding         0em 2.5%
        flex-basis      45%
@media screen and (min-width: 701px)
    .agreements
        width           150%
        margin          1.5em 0em 1.5em -25%
    .agreements-element
        padding         0em 1.5%
        flex-basis      30%

.agreements
    display         flex
    flex-direction  row
    flex-wrap       wrap

    .agreements-element
        flex-grow       1
        margin          1.5em 0em

        p
            margin      auto
            text-align  center
            width       90%

    #figure0 .svg-wrapper
        background-color #40de8e
    #figure1 .svg-wrapper
        background-color #ffa044
    #figure2 .svg-wrapper
        background-color #ff5d47
    #figure3 .svg-wrapper
        background-color #a75bcb
    #figure4 .svg-wrapper
        background-color #4daef2
    #figure5 .svg-wrapper
        background-color #ffc644

.stats-agreement .checkbox
    float           left
    margin-right    .5em
    line-height     1

footer
    margin-top  2em

    ol
        margin   1em 0 0
        padding  0



// FOREGROUNDS / FONTS

a
    color            $blue
    text-decoration  none


// FORMS

form
    .line
        position  relative

        // Managing input width with flex
        display         flex
        flex-direction  column

        button[action="password-visibility"]
            position    absolute
            top         0
            right       0

        button.visibility
            display      block
            background-color   transparent
            background-repeat no-repeat
            padding      .55em 0 0
            font-family Lato, sans-serif
            font-size .9em
            font-weight bold
            min-height auto
            color $blue

label
    display           block
    text-transform    uppercase
    color             $grey-09
    font-size         .9em
    padding           .55em 0

.error-label
    display none
    color   $red

input[type=text]
input[type=password]
input[type=number]
select
    display         inline-block
    padding         0.75em 0.75em 0.9em
    border-radius   4px
    box-sizing      border-box
    border          1px solid $grey-03
    background      $white-01
    color           black
    &::placeholder
        color       $grey-03
        font-size   1.05em
    &:focus
        border          1px solid $blue
    &.error
        border          1px solid $red

// Firefox fix
input[type=number]
    width 100%

select
    -moz-appearance     none
    -webkit-appearance  none
    appearance          none
    &::-ms-expand { display: none }
    background-image    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px'><polyline points='14.764,4.966 8.053,11.677 1.342,4.966'/></svg>")
    background-position right 8px center
    background-repeat   no-repeat


[role=button]
button
    // mutualize behavior between button and a
    position relative
    box-sizing        border-box
    border            0
    display           block
    padding           1em (32/base-font-size)em
    min-height        (40/base-font-size)em
    border-radius     4px
    background-color  $blue
    text-align        center
    text-transform    uppercase
    color             white
    cursor            pointer

    &[disabled]
    &[aria-disabled=true]
        opacity .5
        cursor  default

    &[aria-busy=true]

        &::after
            width      (16/base-font-size)em
            height     (16/base-font-size)em
            margin-left (8/base-font-size)em
            margin-right (-24/base-font-size)em
            @extend    $icon-spinner-white

.pass
  text-align center
  a
    font-size .875em
    line-height 1.7
    text-transform uppercase
    color $grey-09
    &:hover,  &:focus
        color $blue


.errors
    color  $red

// password strength bar
progress
    width         100%
    margin        1em 0
    color         $blue
    font-size     .4em
    line-height   1.5em
    text-indent   .5em
    height        1em
    background    $grey-01
    border        none
    border-radius 20px

    // chrome and safari
    &::-webkit-progress-bar
        background    $grey-01
        border-radius 20px

    &::-webkit-progress-value
        background    $blue
        border-radius 20px

    // firefox
    &::-moz-progress-bar
        background    $blue
        border-radius 20px

    &.pw-weak
        color   $pw-red
        &::-webkit-progress-value
            background    $pw-red
        &::-moz-progress-bar
            background    $pw-red
    &.pw-moderate
        color   $pw-orange
        &::-webkit-progress-value
            background    $pw-orange
        &::-moz-progress-bar
            background    $pw-orange
    &.pw-strong
        color   $pw-green
        &::-webkit-progress-value
            background    $pw-green
        &::-moz-progress-bar
            background    $pw-green


// BREADCRUMB
footer
    button
        width  100%

    ol
        display          flex
        list-style-type  none
        justify-content: center;

    li
        flex              0 0 auto
        box-sizing border-box
        margin            3px
        width             8px
        height            8px
        border-radius     50%
        border 2px $grey-12 solid
        border-color $grey-12
        background-color  $grey-12
        text-indent       -9999em

        &:first-child
            margin-left  0

        &:last-child
            margin-right  0

        &[aria-selected=true]
            border-color $blue
            background-color $blue
        // mark upcoming items in grey
        &[aria-selected=true] ~ li
            background-color  $white-01


// MY ACCOUNTS IFRAME
.my-accounts-wrapper
    flex           1 0 100%
    display        flex
    flex-direction column

.my-accounts-container
    flex-grow 1
    border-width 0

.my-accounts-footer
    box-sizing border-box
    font-size 16px
    display flex
    margin-top 0
    box-shadow 0 (-8 / base-font-size)em (12 / base-font-size)em 0 rgba(0, 0, 0, 0.15);

    p
      flex-grow 1
      margin (14 / base-font-size)em (32 / base-font-size)em
      line-height (20 / base-font-size)em

    .controls
        display flex
        align-items center

    .next
      margin (4 / base-font-size)em (32 / base-font-size)em

// LOGIN
.recover
    margin-top (16/16)em

.password-visibility-icon
    position absolute
    top 0
    right 0
    min-height: (32/16)em
    background-position center center
    background-image    embedurl("../../assets/sprites/icon-eye-open.svg");

    &[aria-pressed=true]
        background-image embedurl("../../assets/sprites/icon-eye-closed.svg");

.forgot[aria-disabled=true]
    cursor default
    opacity 0.5

.recover
    .coz-busy-label
        display none

    &[aria-busy=true]
        .coz-busy-label
            position relative
            display inline-block

            &::before
                position static
                display inline-block
                width      (16/base-font-size)em
                height     (16/base-font-size)em
                margin-right (4/base-font-size)em
                @extend    $icon-spinner-blue

        .forgot
            display none

// Services
.services
    display flex
    flex-wrap wrap
    justify-content center
    align-items stretch
    margin-top 1.6875em
    margin-left -.75em
    margin-right -.75em

.service
    flex 1 9em
    margin .75em
    border 1px solid $grey-10
    border-radius 4px
    overflow hidden
    padding-top 1rem
    text-align center

    &.done
      .service-actions
        display none

      .service-success
        display flex

.service-logo
    box-sizing border-box
    margin 1rem auto .75rem
    max-width 7rem
    height 4.25rem // I would love to set also a max-height, but some svg breaks loudly in that case (i.e. maif)

    svg
        max-width       100%
        height          100%

.service-logo--maif
    padding .5rem .5rem .75rem
    background-color $maif
    max-width 4.25rem

.service-name
    margin-bottom 1rem
    padding 0 1rem
    font-weight bold
    line-height 1.5

.service-actions
    display flex
    justify-content space-around
    align-items stretch
    padding .6rem 0 .4rem
    background-color $grey-11

    button
      width auto
      min-height auto
      padding 0
      background none
      line-height 2
      font-size .75rem
      font-weight bold
      color $blue

      &[aria-busy=true]::after
        @extend $icon-spinner-blue

.service-success
    display          none
    justify-content  space-around
    align-items      stretch
    position         relative
    background-color transparent
    color            $grey-09
    padding          0 (32/base-font-size)em
    height           (32/base-font-size)em

    .result
      overflow      hidden
      text-overflow ellipsis

    .icon-check
      position            absolute
      top                 (-2/base-font-size)em
      right               (8/base-font-size)em
      width               (24/base-font-size)em
      height              (24/base-font-size)em
      border-radius       (12/base-font-size)em
      background-repeat   no-repeat
      background-color    #35CE68
      background-image    embedurl("../../assets/sprites/icon-checked.svg");
      background-position center center

   &[aria-hidden=true]
      display none


// Modal
.modal-overlay
  position         fixed
  top              0
  left             0
  width            100vw
  height           100vh
  z-index          20
  overflow         hidden
  background-color rgba(0,0,0,.5)
  display          flex
  align-items      center
  justify-content  center
  transition       background-color .3s

  .modal
    margin-top    0px
    max-width     832px
    width         100%
    height        100%
    background    white
    box-shadow    0 1px 3px .7 black
    transition    margin-top .3s

    @media screen and (min-width: 833px)
        height 80%
        border-radius 1em

  &[aria-hidden=true]
    background-color rgba(0,0,0,0)

    .modal
      margin-top 2000px


// Intent iframe in a modal
.coz-intent
  border        none
  width         100%
  height        100%

  @media screen and (min-width: 833px)
      border-radius 1em
