extends _base


block header
    h1= t('step firsts Connectors title')

block region
    p= t('step firsts Connectors text 1')
    p= t('step firsts Connectors text 2')

block controls
    a(href=next role="button" class="next")= t('step firsts Connectors next')
